{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viwport" content="width=device-width, user-scaleble=no, initial-scale=1.0, maximum-scale=1.0, minumum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Document</title>
    </head>
    <body>
        <h1 class="home">Olá Mundo</h1>
        <img src="{% static 'login/login.png' %}" alt="My image/">
    </body>
</html>
