% rebase('base.html')
<class="table text-center">
<h2> Alterar Medico </h2>

<form action="/panela_alterar" method="post">
		<input value="{{dados[0]}}" name="id" type="hidden" />
		<ul>
			    <li>
			        	<input value="{{dados[1]}}" name="marca" type="text" placeholder="Marca" />
			    </li>
			    <li>
						<input value="{{dados[2]}}" name="tipo" type="text" placeholder="Tipo" />
			    </li>
			    <li>
						<input value="{{dados[3]}}" name="valor" type="text" placeholder="Valor" />
			    </li>
		</ul>
		<button type="submit" class="btn">Registrar</button>
</form>
<a role="button" class="btn btn-lg btn-primary text-center" href="/panelas">Não</button><br />
