% rebase('base.html')
<class="table text-center">
<h2> Deletar Panela </h2>

<h3> VOCÊ TEM CERTEZA? </h3>

<ul>
	<li>
		<p>Marca: {{dados[1]}}</p>
	</li>
	<li>
		<p>Tipo: {{dados[2]}}</p>
	</li>
	<li>
		<p>Valor R$: {{dados[3]}}</p>
	</li>
</ul>

<form action="/panela_deletar" method="post">
	<input type="hidden" name="id" value="{{dados[0]}}">
	<button type="submit" class="btn btn-danger text-center">Sim</button><br />
	<a role="button" class="btn btn-lg btn-primary text-center" href="/panelas">Não</a>
</form>
