% rebase('base.html')
<hr>
    <table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Funções</th>
    </tr>
    </thead>
% for dado in dados:
<tr>
    <td>{{dado[0]}}</td>
    <td>{{dado[1]}}</td>
    <td>{{dado[2]}}</td>
    <td>{{dado[3]}}</td>
    <td><a href="/panela_alterar_{{dado[0]}}" class="btn btn-primary">Alterar</a>
    <a href="/panela_deletar_{{dado[0]}}" class="btn btn-primary">Deletar</a>
    <a href="/panela_visualizar_{{dado[0]}}" class="btn btn-primary">Vizualizar</a>

</tr>
% end
<tr>
<a href="/inserir_panela" class="btn btn-primary">Inserir Novo</a></td>
</tr>
</table>
