% rebase('base.html')
 <class="text-center">
<form class="form-signin" action="/retornoLogin" method="post">
  <img class="mb-4" src="login.png" alt="" width="200" height="250">
  <h1 class="h3 mb-3 font-weight-normal text-center">Bem Vindo(a)!</h1>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" name="email" id="Email" class="form-control" placeholder="E-mail" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="Password" class="form-control" placeholder="Senha" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>

  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>

<!--
Link da imagem
http://164.100.181.28/edistrict/images/SSecurity1.png
-->
