% rebase('base.html')
<form action="/" class="text-center" method="get">
% if sucesso:
  <img class="mb-4" src="sucess.png" alt="" width="200" height="200">
  <h1>Sucesso no Login!!</h1><br />
  <a href="/panelas" class="btn btn-lg btn-primary btn-block"> Continuar </a>
  <button class="btn btn-lg btn-primary btn-block" type="submit">voltar</button>
% else:
  <img class="mb-4" src="wat.jpg" alt="" width="500" height="375">
  <h5 class="text-center"> Login incorreto! </h5><br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">voltar</button>
% end
</form>
<!--
imagem de sucesso no login
https://upload.wikimedia.org/wikipedia/commons/4/42/Cute-Ball-Go-icon.png
-->
