% rebase('base.html')
<h2>Inserir Medico</h2>

      <form action="/medico/inserir" method="post">
                <input type="text" name="nome" placeholder="Nome" />
                <input type="text" name="crm" placeholder="Crm" />
                <input type="text" name="especialidade" placeholder="Especialidade" />
                <input type="text" name="endereco" placeholder="Endereço"  />
                <input type="text" name="valor_consulta" placeholder="Valor da Consulta"  />
                <button type="submit" >Gravar</button>
                <a  role="button" href="/medicos">Voltar</a>
      </form>
