{% extends 'base.html' %}
{% block content %}
<h1>Olá {{ current_user.nome }}, pode cadastrar:</h1>
<form class="" action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.servidor.label }}<br>
        {{ form.servidor(size=32) }}<br>
        {% for error in form.servidor.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.url.label }}<br>
        {{ form.url(size=32) }}<br>
        {% for error in form.url.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.registro() }}
    </p>
</form>

{% endblock %}
