{% extends 'meu_projetos/base.html' %}
{% block content %}
<p>Servidor: {{ servidor }}</p>
<p>Resultados:</p>
<ul>
    {% for entrada in entradas %}
        <li>
            <p>{{ entrada.produto }}</p>
            <p>cveid: {{ entrada.cveid }}</p>
            <p>tipo: {{ entrada.tipo }}</p>
            <p>dataCorrecao: {{ entrada.dataCorrecao }}</p>
            <p>nota: {{ entrada.nota }}</p>
            <p>tipoAcesso: {{ entrada.tipoAcesso }}</p>
            <p>comentario: {{ entrada.comentario }}</p>
        </li>
    {% empty %}
        <li>
            Não há registros.
        </li>
    {% endfor %}
</ul>
{% endblock content %}
