{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
{% for servidor in servidores %}
<div class="page-header text-center">
    <h1>Dados do site:  {{servidor.url}}</h1>
    <h2>Registrado como: {{servidor.nome}}</h2>
    <h6><a href="{{ url_for('imprimir', nome=servidor.nome) }}" target="_blank">Gerar PDF</a></h6>
    <hr>
</div>
<div class="row">
<div class="table-responsive col-md-12">
<table id="myTable" class="table table-striped">
	<thead>
		<tr>
        <th class="text-center">Exibir</th>
        <th class="text-center">Serviço</th>
        <th class="text-center">CVEID</th>
        <th class="text-center">Nota</th>
      <th class="text-center">Resumo</th>
    </tr>
  </thead>
<tbody>
{% for dado in dados %}
    <tr>
        {% if dado.check != '1' %}
        <td class="text-center"><a type="checkbox" href="{{ url_for('marcas', cveid=dado.cveid, servidor=servidor.nome) }}"><input type="checkbox"></a></td>
        {% else %}
        <td class="text-center"><a type="checkbox" href="{{ url_for('marcas', cveid=dado.cveid, servidor=servidor.nome) }}"><input type="checkbox" checked></td>
        {% endif %}
        <td class="text-center">{{ dado.produto }}</td>
        <td class="text-center"><a href="{{ url_for('vul', cveid=dado.cveid, nome=servidor.nome) }}">{{ dado.cveid }}</a></td>
      {% if dado.nota < 4.0 %}
        <td style="background-color:#00c400" class="text-center"><b>{{ dado.nota }}</b></td>
      {% elif dado.nota >= 4.0 and dado.nota < 7.0 %}
        <td style="background-color:#d1ff00" class="text-center"><b>{{ dado.nota }}</b></td>
      {% elif dado.nota >= 7.0 and dado.nota < 9.0 %}
        <td style="background-color:#ff9c20" class="text-center"><b>{{ dado.nota }}</b></td>
      {% else %}
        <td style="background-color:#ff0000" class="text-center"><b>{{ dado.nota }}</b></td>
      {% endif %}
        <td>{{ dado.comentario }}</td>
    </tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}
