% rebase('base2.html')

<div class="form-container" data-form-container style="color: rgb(0, 0, 0); background: rgb(255, 255, 255);">
	<div class="row">
		<div class="form-title text-center">
			<h1>Dados Cadastrados</h1>
		</div>
	</div>
</div>
<hr />
<div class="table-responsive col-md-12">
	<table class="table table-striped border-spacing padding">
	<thead>
		<tr class="text-center">
        <th>ID</th>
        <th>Linguagem</th>
        <th>Código CVE</th>
        <th>Tipo de Falha</th>
        <th>Data da Correção</th>
        <th>Nota</th>
        <th>Permissão de Acesso</th>
        <th>Resumo</th>
    </tr>
  </thead>
% for dado in dados:
	<tr>
		<td>{{dado[0]}}</td>
    <td>{{dado[1]}}</td>
    <td><a href="/cve_visualizar_{{dado[0]}}">{{dado[2]}}</a></td>
    <td>{{dado[3]}}</td>
    <td>{{dado[4]}}</td>
    <td>{{dado[5]}}</td>
    <td>{{dado[6]}}</td>
    <td>{{dado[7]}}</td>
		<td><a href="/cve_visualizar_{{dado[0]}}" class="btn btn-warning btn-block">Visualizar</a><a href="/cve_deletar_{{dado[0]}}" class="btn btn-danger btn-block">Deletar</a></td>
	</tr>
	%end
	<tr>
		<a href="/scrapy1">Pesquisar outro serviço</a>
	</tr>
  </table>
</div>
