{% extends 'base.html' %}
{% block content %}
<form action="{% 'usuarios:cadastro' %}" class="form-signin" method="POST">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label>First name</label>
      {{ form.first_name}}
      {{ form.first_name.errors }}
      <label>Last name</label>
      {{ form.last_name}}
      {{ form.last_name.error }}
      <label>E-mail</label>
      {{ form.email}}
      {{ form.email.errors }}
      <label>Username</label>
      {{ form.username}}
      {{ form.username.errors }}
      <label>Password</label>
      {{ form.password}}
      {{ form.password.errors }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>

{% endblock %}
