{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% for servidor in servidores %}
<div class="text-center">
    <h1>Dados do site:  {{servidor.url}}  </h1>
    <hr>
</div>

<div class="table-responsive col-md-12">
	<table class="table table-striped border-spacing padding">
	<thead>
		<tr>
            <th class="text-center">Teste</th>
            <th class="text-center">Serviço</th>
            <th class="text-center">CVEID</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Resumo</th>

        </tr>
    </thead>
{% for dado in dados %}
<tr>

    <p>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center">{{ dado.produto }}</td>
        <td  class="text-center"><a href="{{ url_for('vul', cveid=dado.cveid, nome=servidor.nome) }}">{{ dado.cveid }}</td>
        <td  class="text-center">{{ dado.nota }}</td>
        <td>{{ dado.comentario }}</td>
    </p>
    </a>
</tr>
{% endfor %}
{% endfor %}
</table>
</div>
{% endblock %}
