{% extends "base.html" %}

{% block content %}
    <h1>Usuário: {{ user.nome }}</h1>
    <p>Email: {{ user.email }}</p>
    {% if user.last_seen %}
        <p>Último visualização: {{ user.last_seen }}</p>
    {% endif %}
    <a href="{{ url_for('deletar') }}">Excluir perfil</a>
    {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edite seu perfil</a></p>
    {% endif %}
    <hr>
        <h1>Servidores</h1>
    <table>
        {% for servidor in servidores %}
        <tr>
            <td>
                <a href="{{ url_for('dados', nome=servidor.nome) }}">
                <p>
                    {{ servidor.nome }} -
                    {{ servidor.url }} -
                    {{ servidor.ip }}
                </p>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <!-- <hr>
        <h1>Vulnerabilidades</h1>
    <hr>
    <table>
        {% for dado in dados %}
        <tr>
            <td>
                <p>
                    {{ dado.produto }} -
                    {{ dado.cveid }}
                </p>
            </td>
        </tr>
        {% endfor %} -->
    </table>
{% endblock %}
