{% extends "base.html" %}

{% block content %}
    <h1>Usuário: {{ user.nome }}</h1>
    {% if user.last_seen %}
        <p>Último visualização: {{ user.last_seen }}</p>
    {% endif %}
    <hr>
        <h1>Dados no Banco - Servidores</h1>
    <table>
        {% for servidor in servidores %}
        <tr>
            <td>
                <p>
                    {{ servidor.nome }} -
                    {{ servidor.url }} -
                    {{ servidor.ip }} 
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
        <h1>Dados no Banco - Dados</h1>
    <hr>
    <table>
        {% for dado in dados %}
        <tr>
            <td>
                <p>
                    {{ dado.usuario_id }} -
                    {{ dado.produto }} -
                    {{ dado.cveid }} -
                    {{ dado.nota }}
                    <!--{{ dado.comentario }}-->
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

<td>
    <p>
        {{ servidor.nome }}
    </p>
</td>
