{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table>
    <thead>
        <tr class="text-center">
        <th>Serviço</th>
        <th>CVEID</th>
        <th>Tipo de Falha</th>
        <th>Data da Correção</th>
        <th>Nota</th>
        <th>Permissão de Acesso</th>
        <th>Porta</th>
        <th>Resumo</th>
    </thead>
{% for dado in dados %}
<tr class="text-center">
    <!-- {{ dado.usuario_id }} - -->
    <td>{{ dado.produto }}</td>
    <td>{{ dado.cveid }}</td>
    <td>{{ dado.tipo }}</td>
    <td>{{ dado.datacorrecao }}</td>
    <td>{{ dado.nota }}</td>
    <td>{{ dado.acesso }}</td>
    <td>{{ dado.porta }}</td>
    <td>{{ dado.comentario }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
