<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="icone.ico">
    <link href="bootstrap.min.css" rel="stylesheet">
    <title>Banco de Dados</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="/cve">Listar DB</a>
        <a class="navbar-brand" href="/scrapy1">Scrapy</a>
    </nav>
      {{!base}}
  </body>
</html>
